@import "palette";

.wrapper-footer {
  background-color: $cool-gray;
  margin-top: 3rem;
  width: 100%;
}


#fd-footer {

  h2 {
    color: $fd-grey;
  }

  .footer-link {
    color: $fd-grey;
  }

  .edx-logo img {
    width: 200px;
    margin-top: 2em;
  }

  .fd-logo img {
     max-width: 300px;
  }

  .social-links {

    a {
      margin-right: 1em;
    }

    i {
      color: $fd-grey;
      font-size: 3em;
      font-weight: bold;
      text-decoration: none;
    }

    #sl-fb:hover {
      i {
        color: $facebook-blue;
      }
    }
    #sl-vk:hover {
      i {
        color: $vk-blue;
      }
    }
    #sl-tg:hover {
      i {
        color: $tg-blue;
      }
    }
    #sl-ig:hover {
      i {
        color: $ig-rose;
      }
    }
  }
}
