@import "palette";

.wrapper-footer {
  background-color: $cool-gray;
  margin-top: 3rem;
  width: 100%;
}


#fd-footer {

  h2 {
    color: $stanford-white;
  }

  .footer-link {
    color: $stanford-white;
  }

  .edx-logo img {
    width: 200px;
    margin-top: 2em;
  }

  .fd-logo img {
     max-width: 300px;
  }

  .social-links {
    i {
      color: $stanford-white;
      font-size: 3em;
      font-weight: bold;
      text-decoration: none;
    }
  }
}
