@import "palette";
@import "myvariables";

@import url('https://fonts.googleapis.com/css2?family=Source+Sans+Pro:wght@600;700;900&display=swap');
@import url('https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.13.0/css/all.min.css');


h1,h2,h3,h4,h5,h6 {
  color: $stanford-black;
  line-height: 1.5em;
}

h1 {
  font-size: 3em;
}

body {
  background: $fog;
}

.content-wrapper {
  max-width: unset;
  padding: 0;
}
