@import "palette";


header {

  #fd-header-logo {
    max-height: 3rem;
  }

  nav {
    width: 100%;
    padding: 2rem;

    .header-buttons {
      float: right;
    }

    i {
      font-size: 2em;
      color: $bright-red;

      &:hover {
        color: $stanford-white;
      }
    }
  }

  .dropdown-menu {
    left: -100px;
  }
}

.header-global {
  box-shadow: none;
  border-bottom: none;
  height: 128px;
}

.navigation-container {
  border-bottom: none;
}


