@import "palette";
@import "myvariables";

.partnership {

  padding: 2rem;
  margin-left: auto;
  margin-right: auto;
  background-color: $stanford-white;
  position:relative;
  z-index: 100;

  .partner-logo {
    img {
      max-width: 150px;
    }
  }
}

.jumbotron {

  border-radius: none;
  height: 600px;

  h1, h2, h3, h4, h5, p {
    color: $gray-400;
  }

  .display-4 {
    font-size: 2rem;
    @media (min-width: $breakpoint-tablet) {
      font-size: 3.5rem;
    }
  }
}

// BENEFITS

.marketing {
  margin-top: 2rem;
  margin-bottom: 2rem;
  margin-left: auto;
  margin-right: auto;

  .featurette-image {
    display:block;
    max-width: 250px;
    max-height: 250px;
    width: auto;
    height: auto;
  }

  .featurette .highlights {
    color: $dark-red;
    font-weight: bold;
  }

  .video-embed-field-responsive-video {

     width: 100%;
     iframe {
       margin-left: auto;
       margin-right: auto;
     }
  }

}

.section-header {
  font-size: 2rem;
  @media (min-width: $breakpoint-tablet) {
    font-size: 3.5rem;
  }
  font-weight: bold;
}

.featurette-heading {
  font-size: 1.5rem;
  line-height: 1;
  letter-spacing: -.05rem;

}

// FACULTIES, COURSES

#featured-courses {
  margin-top: 10rem;
  margin-bottom: 10rem;
}

.courses-listing-item {
  max-width: 20rem;
}

.fd-card {

  background-color: $stanford-white;
  display: block;
  box-shadow: 1px 4px 7px rgba(46,45,41,0.35);
  -webkit-box-shadow: 1px 4px 7px rgba(46,45,41,0.35);
  flex-direction: column;
  transition-duration: 0.15s;
  transition-property: transform,-webkit-transform;
  transition-timing-function: ease-in-out;
}

.fd-card:active, .fd-card:hover {
  -webkit-transform: scale3d(1.05,1.05,1);
  transform: scale3d(1.05,1.05,1);
}

.fd-benefit {
  padding: 2em;
  text-align: center;
}

.courses-container  {

  .courses {

    .fd-course {

      text-decoration: none;
      height: 32em;
      margin: 10px auto;

      .course-name {
        color: $stanford-black;
        font-weight: 700;
        font-size: 24px;
      }

      .course-organization {
        color: $cardinal-red;
      }

      .course-number {
        color: $cool-gray;
      }

      .course-date {
        color: $stanford-black;
      }

      img {
        width: 100%;
      }

      .course-info {
        height: auto;
        padding: 1em;

        .course-title {
          margin: 5px 0 5px 0;
        }
      }
    }

    .fd-course:active, .fd-course:hover {
      text-decoration: none;
      outline: 0;
    }

  }
}

.learn-more {
  padding: 1rem;
}

.course-info {
  header.course-profile {
    background: unset;
    box-shadow: none;
    border-bottom: none;
    height: unset;
    padding-top: unset;
    overflow: hidden;
    position: relative;
    width: 100%;

    .intro-inner-wrapper {
      border: none;
      box-shadow: none;
    }
  }
}
