@import "palette";
@import "myvariables";

@import url('https://fonts.googleapis.com/css2?family=Source+Sans+Pro&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Source+Serif+Pro&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lato&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans&display=swap');
@import url('https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.13.0/css/all.min.css');


h1,h2,h3,h4,h5,h6 {
  color: $stanford-black;
  line-height: 1.5em;
  font-weight: 900;
}

h1 {
  font-size: 3em;
}

header {

  #fd-header-logo {
    max-height: 3rem;
  }

  #non-auth-header {
    width: 100%;
    padding: 2rem;
    display: flex;

    .header-buttons {
      margin-left: auto;
      margin-right: 0;
    }
  }
}

body {
  background: $fog;
}

.content-wrapper {
  max-width: unset;
  padding: 0;
}


