
#dashboard-main {
    .header-courses {
      font-weight: bold;
    }

  .wrapper-course-details {
    .course-title {
      a, span {
        font-weight: bold;
      }
    }
  }

  .actions-item {
    font-weight: bold;
  }
}
