@import "palette";

// Variables

$breakpoint-tablet: 768px;

// Restated Bootstrap Variables

$white: #fff !default;
$gray-100: #f8f9fa !default;
$gray-200: #e9ecef !default;
$gray-300: #dee2e6 !default;
$gray-400: #ced4da !default;
$gray-500: #adb5bd !default;
$gray-600: #868e96 !default;
$gray-700: #495057 !default;
$gray-800: #343a40 !default;
$gray-900: #212529 !default;
$black: #000 !default;



$primary: $bright-red !default;
$secondary: $stanford-white !default;
$success: $grass !default;
$info: $sky;
$warning: $sun;
$danger: $bright-red;

$theme-colors: () !default;
// stylelint-disable-next-line scss/dollar-variable-default
$theme-colors: map-merge(
    (
          "primary":                $primary,
          "secondary":              $secondary,
          "success":                $success,
          "info":                   $info,
          "warning":                $warning,
          "danger":                 $danger
    ), $theme-colors
);

$primary-font: 'Source Sans Pro', sans-serif;
$secondary-font: 'Source Sans Pro', sans-serif;
$button-font: 'Noto Sans', sans-serif;;

// open edx variables

$m-blue: $primary;
$m-blue-l1: $bright-red !default;
$m-blue-l2: $bright-red !default;
$m-blue-l3: $bright-red !default;
$m-blue-l4: tint($m-blue, 90%) !default;
$m-blue-l5: tint($m-blue, 95%) !default;
$m-blue-l6: $bright-red !default;
$m-blue-d1: $bright-red !default;
$m-blue-d2: $bright-red !default;
$m-blue-d3: $bright-red !default;
$m-blue-d4: $dark-red !default;
$m-blue-d5: $bright-red !default;
$m-blue-d6: $bright-red !default;
$m-blue-t0: rgba($m-blue, 0.125) !default;
$m-blue-t1: rgba($m-blue, 0.25) !default;
$m-blue-t2: rgba($m-blue, 0.5) !default;
$m-blue-t3: rgba($m-blue, 0.75) !default;



$shadow-l1: rgba(0, 0, 0, 0.25);
$baseline: 20px;
$light-gray: $gray-500;
$link-color: $bright-blue;
$serif: $primary-font;
$font-family-sans-serif: $secondary-font;
$lighter-base-font-color: $stanford-black;
$course-profile-bg: none;
$homepage-bg-image: none;
$button-color: $bright-red;
$course-header-bg: none;
$action-primary-fg: $stanford-white;
$action-primary-bg: $cardinal-red;
$m-blue-d3: $cardinal-red;

$gray-l5: $stanford-white;

// .btn-brand
$btn-brand-border-color: $uchicago-red;
$btn-brand-background: $uchicago-red;
$btn-brand-color: $stanford-white;

// register screen, removing blue colors
$blue: $dark-red;
$link-hover: $dark-red;
$uxpl-blue-hover-active: $dark-red;
