@import "palette";

// Variables

$breakpoint-tablet: 768px;

// Restated Bootstrap Variables

$white: #fff !default;
$gray-100: #f8f9fa !default;
$gray-200: #e9ecef !default;
$gray-300: #dee2e6 !default;
$gray-400: #ced4da !default;
$gray-500: #adb5bd !default;
$gray-600: #868e96 !default;
$gray-700: #495057 !default;
$gray-800: #343a40 !default;
$gray-900: #212529 !default;
$black: #000 !default;

$primary: $cardinal-red !default;
$secondary: $stanford-white !default;
$success: $dark-red !default;

$primary-font: Source Sans Pro, serif;
$secondary-font: Source Serif Pro, serif;
$button-font: Lato, serif;

// open edx variables

$m-blue: $primary;
$m-blue-l1: $bright-red !default;
$m-blue-l2: $bright-red !default;
$m-blue-l3: $bright-red !default;
$m-blue-l4: tint($m-blue, 90%) !default;
$m-blue-l5: tint($m-blue, 95%) !default;
$m-blue-l6: #B11F07 !default;
$m-blue-d1: $light-red !default;
$m-blue-d2: $uchicago-red !default;
$m-blue-d3: #9A0300 !default;
$m-blue-d4: $dark-red !default;
$m-blue-d5: $bright-red !default;
$m-blue-d6: #9A0300 !default;
$m-blue-t0: rgba($m-blue, 0.125) !default;
$m-blue-t1: rgba($m-blue, 0.25) !default;
$m-blue-t2: rgba($m-blue, 0.5) !default;
$m-blue-t3: rgba($m-blue, 0.75) !default;



$shadow-l1: rgba(0, 0, 0, 0.25);
$baseline: 20px;
$light-gray: $gray-500;
$link-color: $dark-red;
$serif: Source Sans Pro, serif;
$font-family-sans-serif: Source Serif Pro, serif;
$lighter-base-font-color: $stanford-black;
$course-profile-bg: none;
$homepage-bg-image: none;
$button-color: $uchicago-red;
$course-header-bg: none;
$action-primary-fg: $stanford-white;
$action-primary-bg: $cardinal-red;
$m-blue-d3: $cardinal-red;

$gray-l5: $stanford-white;

// .btn-brand
$btn-brand-border-color: $uchicago-red;
$btn-brand-background: $uchicago-red;
$btn-brand-color: $stanford-white;

// register screen, removing blue colors
$blue: $dark-red;
$link-hover: $dark-red;
$uxpl-blue-hover-active: $dark-red;
