// Default bootstrap theming

@import "palette";
@import "myvariables";

.btn {
  @extend .btn;
  font-family: $secondary-font;
}

.btn-primary {
  @extend .btn-primary;
  background-color: $light-red;
  border-color: $light-red;
  color: $stanford-white;
  &:active,
  &:focus,
  &:hover {
    background-color: darken($light-red, 10%) !important;
    border-color: darken($light-red, 10%) !important;
    color: $stanford-white;
  }
}

.text-dark {
  color: $dark-red;
}

.input {
  font-weight: 300 !important;
}

