@import "palette";
@import "myvariables";

.btn {
  font-family: $primary-font;
  font-weight: bold;
}

.container, .container-fluid {
  padding-left: 1em;
  padding-right: 1em;

  @media (min-width: $breakpoint-tablet) {
    padding-left: 30%;
    padding-right: 30%;
  }
}
