## mako

<%namespace name='static' file='/static_content.html'/>

<div id="approach">
    <div class="container">
        <h2 class="section-header mb-5">Комплексный подход к образованию</h2>

        <div class="">
            <div class="row">
                <div class="col-md-2 d-flex justify-content-center">
                    <img class="approach-image" src="${static.url('images/misc/Video.png')}" />
                </div>
                <div class="col-md-10 text-center text-md-left">
                    <h3>Видеолекции</h3>
                    <p>Смотри видеоуроки в любое время, на любом устройстве, занятия разбиты на 3-15 минутные уроки чтобы встроится в ваше расписание</p>
                </div>
            </div>
            <div class="row">
                <div class="col-md-2 d-flex justify-content-center">
                    <img src="${static.url('images/misc/Dashes_vert.png')}" />
                </div>
            </div>
            <div class="row">
                <div class="col-md-2 d-flex justify-content-center">
                    <img class="approach-image" src="${static.url('images/misc/Practice.png')}" />
                </div>
                <div class="col-md-10 text-center text-md-left">
                    <h3>Практика</h3>
                    <p>Закрепи новый материал выполнением практического задания с автопроверкой кода</p>
                </div>
            </div>
            <div class="row">
                <div class="col-md-2 d-flex justify-content-center">
                    <img src="${static.url('images/misc/Dashes_vert.png')}" />
                </div>
            </div>
            <div class="row">
                <div class="col-md-2 d-flex justify-content-center">
                    <img class="approach-image" src="${static.url('images/misc/Community.png')}" />
                </div>
                <div class="col-md-10 text-center text-md-left">
                    <h3>Сообщество</h3>
                    <p>Присоединяйся к онлайн форуму и чату для студентов для обсуждения заданий и обмена опытом</p>
                </div>
            </div>
            <div class="row">
                <div class="col-md-2 d-flex justify-content-center">
                    <img src="${static.url('images/misc/Dashes_vert.png')}" />
                </div>
            </div>
            <div class="row">
                <div class="col-md-2 d-flex justify-content-center">
                    <img class="approach-image" src="${static.url('images/misc/Diploma.png')}" />
                </div>
                <div class="col-md-10 text-center text-md-left">
                    <h3>Диплом</h3>
                    <p>Получи диплом признаваемый экспертами, возможно получение диплома государственного образца</p>
                </div>
            </div>
            <div class="row">
                <div class="col-md-2 d-flex justify-content-center">
                    <img src="${static.url('images/misc/Dashes_vert.png')}" />
                </div>
            </div>
            <div class="row">
                <div class="col-md-2 d-flex justify-content-center">
                    <img class="approach-image" src="${static.url('images/misc/Career_rocket.png')}" />
                </div>
                <div class="col-md-10 text-center text-md-left">
                    <h3>Трудоустройство</h3>
                    <p>Откликайся на вакансии на закрытом сайте по поиску работы, посещай эксклюзивные карьерные мероприятия, получи консультацию с экспертом, помощь в подготовке к собеседованию на желаемую позицию</p>
                </div>
            </div>

        </div>

    </div>
</div>
