## mako

<%namespace name='static' file='/static_content.html'/>

<div class="marketing">
    <div class="container">
        <h1 class="section-header">Почему вам следует обучаться у нас:</h1>
            <div class="video-embed-field-responsive-video">
                <iframe width="560" height="340" frameborder="0" allowfullscreen="allowfullscreen" allow="accelerometer; encrypted-media; gyroscope; picture-in-picture" src="https://www.youtube.com/embed/0qHWub21h5c"></iframe>
            </div>
        <div class="row">
            <div class="col-4">
                <div>
                    <h2>Курсы лучших университетов мира</h2>
                </div>
                <div>
                    <p>
                        Курсы университетов <span class="highlights">Гарварда, Принстона, МИТ</span>
                        и многих других, а также известных технологических компаний
                    </p>
                </div>
            </div>
            <div class="col-4">
                <div>
                    <h2>Полностью на русском языке</h2>
                </div>
                <div>
                    <p>
                        Все курсы переведены и озвучены на русский язык, что значительно облегчает изучение материала для русскоязычной аудитории
                    </p>
                </div>
            </div>
            <div class="col-4">
                <div>
                    <h2>Бесплатно</h2>
                </div>
                <div>
                    <p>
                        Доступ к материалам курсов совершенно бесплатный. Сертификация по умеренным ценам
                    </p>
                </div>
            </div>
        </div>
    </div>
</div>
