## mako

<%namespace name='static' file='/static_content.html'/>

<div class="marketing">
    <div class="container">
        <h2 class="section-header mb-5">Лучшее образование. Каждому.</h2>

        <div class="benefits-list d-flex justify-content-center">
            <div class="d-flex flex-column flex-md-row">
                <div class="benefit-card">
                    <img class="benefit-image" src="${static.url('images/misc/Quality.png')}" />
                    <div class="benefit-card-content">
                        <h3>Качественно</h3>
                        <p>
                            Курсы лучших университетов и ведущих технологических компаний мира
                        </p>
                    </div>
                </div>
                <div class="benefit-card">
                    <img class="benefit-image" src="${static.url('images/misc/Beifcasee.png')}" />
                    <div class="benefit-card-content">
                        <h3>Востребованно</h3>
                        <p>
                            Практические навыки, позволяющие кратно увеличить зарплату и работать удаленно
                        </p>
                    </div>
                </div>
                <div class="benefit-card">
                    <img class="benefit-image" src="${static.url('images/misc/Pig.png')}" />
                    <div class="benefit-card-content">
                        <h3>Доступно</h3>
                        <p>
                            Большинство курсов доступны бесплатно, платные курсы от 990 руб/мес
                        </p>
                    </div>
                </div>
            </div>
        </div>

    </div>
</div>
