## mako

<%namespace name='static' file='/static_content.html'/>

<div class="marketing container">
    <div class="row">
        <div class="col-lg-4">
            <img class="img-responsive" src="${static.url('images/icons/003-best.png')}" width="140" height="140">
            <h3>Курсы лучших университетов мира</h3>
            <p>Лучшие курсы лучших университетов мира: MIT, Stanford, Harvard и многих других</p>
            <p><a class="btn btn-secondary" href="#" role="button">Подробнее »</a></p>
        </div>
        <div class="col-lg-4">
            <img class="img-responsive" src="${static.url('images/icons/015-microphone.png')}" width="140" height="140">
            <h3>Полностью на русском языке</h3>
            <p>Все курсы переведены и озвучены на русский язык с применением современных AI технологий</p>
            <p><a class="btn btn-secondary" href="#" role="button">Подробнее »</a></p>
        </div>
        <div class="col-lg-4">
            <img class="img-responsive" src="${static.url('images/icons/016-degree.png')}" width="140" height="140">
            <h3>Бесплатно</h3>
            <p>Все курсы доступны совершенно бесплатно без получения сертификата о прохождении. Доступные цены на сертификацию</p>
            <p><a class="btn btn-secondary" href="#" role="button">Подробнее »</a></p>
        </div>
    </div>
</div>