## mako

<%namespace name='static' file='/static_content.html'/>

<div id="faculties">
    <div class="container">
        <h2 class="section-header mb-5">Выбери курсы по направлениям</h2>
        <div class="d-flex justify-content-center">
            <div class="d-flex flex-column flex-xl-row">
                <a class="fd-faculty-card" href="/courses#cs">
                    <div class="fd-faculty-card-content">
                        <div>
                            <img class="faculty-image" src="${static.url('images/misc/icon_dev.png')}" />
                        </div>
                        <h5 class="text-center">Программирование</h5>
                    </div>
                </a>
                <a class="fd-faculty-card" href="/courses#ai">
                    <div class="fd-faculty-card-content">
                        <div>
                            <img class="faculty-image" src="${static.url('images/misc/icon_ai.png')}" />
                        </div>
                        <h5 class="text-center">Искусственный интеллект</h5>
                    </div>
                </a>
                <a class="fd-faculty-card" href="/courses#digital">
                    <div class="fd-faculty-card-content">
                        <div>
                            <img class="faculty-image" src="${static.url('images/misc/icon_digital.png')}" />
                        </div>
                        <h5 class="text-center">Цифровой бизнес</h5>
                    </div>
                </a>
                <a class="fd-faculty-card" href="courses#ux">
                    <div class="fd-faculty-card-content">
                        <div>
                            <img class="faculty-image" src="${static.url('images/misc/icon_design.png')}" />
                        </div>
                        <h5 class="text-center">Дизайн</h5>
                    </div>
                </a>
            </div>
        </div>
    </div>
</div>
