## mako

<%namespace name='static' file='/static_content.html'/>

<div id="fd-footer">
    <div class="fd-partnership">
        <div>

        </div>
    </div>
    <div class="fd-container">
        <div class="fd-row">
            <div id="fd-footer-logo" class="span2">
                <a href="https://www.firstdigital.institute">
                    <img
                            src="${static.url('images/fd_logo_dark theme.png')}"
                            alt="First Digital Institute"
                    />
                </a>
            </div>
            <div id="fd-footer-text" class="span10">
                <ul id="global-links">
                    <li class="about"><a href="/about">Информация</a></li>
                    <li class="courses"><a href="/search/">Каталог курсов</a></li>
                    <li class="contacts"><a href="/contacts">Контакты</a></li>
                </ul>
                <ul id="social-links">
                    <li class="alt">
                        <a href="https://institute.us5.list-manage.com/track/click?u=68cd74c0bbbf1db2e8098cf97&id=ed87a1f071&e=6f87cca1d8">
                            <img class="social-logo" src="${static.url('images/social/vk_logo_dark.png')}"/>
                        </a>
                    </li>
                    <li class="alt">
                        <a href="https://institute.us5.list-manage.com/track/click?u=68cd74c0bbbf1db2e8098cf97&amp;id=4fe907734d&amp;e=6f87cca1d8">
                            <img class="social-logo" src="${static.url('images/social/facebook_logo_dark.png')}"/>
                        </a>
                    </li>
                    <li class="alt">
                        <a href="http://t.me/firstdigital">
                            <img class="social-logo" src="${static.url('images/social/telegram_logo_dark.png')}"/>
                        </a>
                    </li>
                </ul>
            </div>
            <div class="clear"></div>
            <p class="copyright vcard">
                <span>&copy;</span>
                <span class="year">2019 </span>
                <span class="fn org">ООО "Первый цифровой институт"</span>.
                <span class="adr">
          <span class="locality">Москва</span>,
          <span class="region">ул. Летниковская 4, стр. 5</span>
        </span>
            </p>
        </div>
    </div>
</div>
