## mako

<%namespace name='static' file='/static_content.html'/>

<div id="fd-footer">
    <div class="row">
        <div class="col-sm fd-logo" class="span2">
            <a href="https://www.firstdigital.institute">
                <img
                        src="${static.url('images/fd_logo_dark.png')}"
                        alt="First Digital Institute"
                />
            </a>
        </div>
        <div class="col-sm">
            <div class="row">
                <div class="col-xs footer-link"><a href="/about">Информация</a></div>
                <div class="col-xs footer-link"><a href="/search">Каталог курсов</a></div>
                <div class="col-xs footer-link"><a href="/contact">Контакты</a></div>
            </div>

        </div>
    </div>
    <div class="row copyright">
        <p><small>2019 ООО "Первый цифровой институт" &copy;</small></p>
            <div class="col-xs">
                <a href="https://institute.us5.list-manage.com/track/click?u=68cd74c0bbbf1db2e8098cf97&id=ed87a1f071&e=6f87cca1d8">
                    <img class="social-logo" src="${static.url('images/social/vk_logo_dark.png')}"/>
                </a>
            </div>
            <div class="col-xs">
                <a href="https://institute.us5.list-manage.com/track/click?u=68cd74c0bbbf1db2e8098cf97&amp;id=4fe907734d&amp;e=6f87cca1d8">
                    <img class="social-logo" src="${static.url('images/social/facebook_logo_dark.png')}"/>
                </a>
            </div>
            <div class="col-xs">
                <a href="#">
                    <img class="social-logo" src="${static.url('images/social/telegram_logo_dark.png')}"/>
                </a>
            </div>
    </div>
</div>
