## mako

<%namespace name='static' file='/static_content.html'/>

<div id="fd-footer" class="container-fluid">
    <div class="row align-items-center">
        <div class="col-md-9 col-sm-12">
            <div class="row">
                <div class="col-md fd-logo">
                    <a href="http://www.firstdigital.institute">
                        <img src="${static.url('images/fd_logo_dark.png')}" alt="First Digital Institute"/>
                    </a>
                </div>
                <div class="col-md">
                    <ul class="list-unstyled">
                        <li class="footer-link"><a class="text-light" href="/about">Информация</a></li>
                        <li class="footer-link"><a class="text-light" href="/courses">Каталог курсов</a></li>
                        <li class="footer-link"><a class="text-light" href="/about">Контакты</a></li>
                    </ul>
                </div>
            </div>
        </div>
        <div class="col-md-3 col-sm-12">
            <div class="row flex-nowrap">
                <a href="https://institute.us5.list-manage.com/track/click?u=68cd74c0bbbf1db2e8098cf97&id=ed87a1f071&e=6f87cca1d8">
                    <img class="social-logo" src="${static.url('images/social/vk_logo_dark.png')}"/>
                </a>
                <a href="https://institute.us5.list-manage.com/track/click?u=68cd74c0bbbf1db2e8098cf97&amp;id=4fe907734d&amp;e=6f87cca1d8">
                    <img class="social-logo" src="${static.url('images/social/facebook_logo_dark.png')}"/>
                </a>
                <a href="https://t.me/firstdigital">
                    <img class="social-logo" src="${static.url('images/social/telegram_logo_dark.png')}"/>
                </a>
            </div>
        </div>
    </div>
</div>
