## mako

<%namespace name='static' file='/static_content.html'/>



<section id="featured-courses" class=courses-tab">
    <h1 class="text-center">Курсы</h1>
    <%include file="${courses_list}" />
    <!--div class="container">
        <div class="row">
            <div class="col-md-12">
                <nav>
                    <div class="nav nav-tabs nav-fill" id="nav-tab" role="tablist">
                        <a class="nav-item nav-link active" id="nav-cs-tab" data-toggle="tab" href="#nav-cs" role="tab" aria-controls="nav-home" aria-selected="true">Программирование</a>
                        <a class="nav-item nav-link" id="nav-ds-tab" data-toggle="tab" href="#nav-ds" role="tab" aria-controls="nav-profile" aria-selected="false">Data Science</a>
                        <a class="nav-item nav-link" id="nav-bs-tab" data-toggle="tab" href="#nav-bs" role="tab" aria-controls="nav-contact" aria-selected="false">Бизнес, Менеджмент</a>
                        <a class="nav-item nav-link" id="nav-ux-tab" data-toggle="tab" href="#nav-ux" role="tab" aria-controls="nav-contact" aria-selected="false">UX, UI</a>
                    </div>
                </nav>
                <div class="tab-content" id="nav-tabContent">
                    <div class="tab-pane fade show active" id="nav-cs" role="tabpanel" aria-labelledby="nav-home-tab">
                        <div class="course-panel">
                            <h5>Алгоритмы</h5>
                        </div>

                    </div>
                    <div class="tab-pane fade" id="nav-ds" role="tabpanel" aria-labelledby="nav-profile-tab">
                        <p>ds</p>
                    </div>
                    <div class="tab-pane fade" id="nav-bs" role="tabpanel" aria-labelledby="nav-contact-tab">
                        <p>bs</p>

                    </div>
                    <div class="tab-pane fade" id="nav-ux" role="tabpanel" aria-labelledby="nav-contact-tab">
                        <p>ux/ui</p>

                    </div>
                </div>
            </div>
        </div>
    </div-->
</section>