## mako
<%page expression_filter="h"/>
<!--%inherit file="header.html" /-->
<%namespace name='static' file='static_content.html'/>
<%!
from django.utils.translation import ugettext as _
from django.urls import reverse

from openedx.core.djangolib.markup import HTML, Text
%>

<header class="global-header ${'slim' if course else ''}">

    <div id="heading-row"/>

    <div class="media">
        <div class="media-left">
            <a class="nav-link" href="#">
                <img id="fd-header-logo" src="${static.url('images/logo.png')}">
            </a>
        </div>
    </div>

    <nav class="navbar navbar-expand-md navbar-dark fixed-top d-flex flex-row-reverse">
        <!--button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarCollapse" aria-controls="navbarCollapse" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button-->

        <div class="btn-group">
            <a class="btn btn-primary" href="/register">${_("Register")}</a>
            <a class="btn btn-success" href="/login">${_("Sign in")}</a>
        </div>

    </nav>
</header>