## mako
<%page expression_filter="h"/>
<!--%inherit file="header.html" /-->
<%namespace name='static' file='static_content.html'/>
<%!
from django.utils.translation import ugettext as _
from django.urls import reverse

from openedx.core.djangolib.markup import HTML, Text
%>

<header>

    % if user.is_authenticated:
    <%include file="navbar-authenticated.html" args="online_help_token=online_help_token"/>
    % else:
    <%include file="navbar-not-authenticated.html" args="online_help_token=online_help_token"/>
    % endif

</header>
