## mako

<%page expression_filter="h" args="online_help_token"/>

<%namespace name='static' file='static_content.html'/>

<%!
from django.urls import reverse
from django.utils.translation import ugettext as _
from openedx.core.djangoapps.site_configuration import helpers as configuration_helpers
%>

<%
    show_explore_courses = settings.FEATURES.get('COURSES_ARE_BROWSABLE') and not show_program_listing
    show_sysadmin_dashboard = settings.FEATURES.get('ENABLE_SYSADMIN_DASHBOARD','') and user.is_staff
    self.real_user = getattr(user, 'real_user', user)

    support_link = configuration_helpers.get_value('SUPPORT_SITE_LINK', settings.SUPPORT_SITE_LINK)
    doc_link = get_online_help_info(online_help_token)['doc_url']

    if online_help_token == "instructor":
        help_link = doc_link
    elif support_link:
        help_link = support_link
    else:
        help_link = doc_link
%>

<nav class="navbar navbar-default navbar-fixed-top">
    <div class="container">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="#">
                <img id="fd-header-logo" src="${static.url('images/logo.png')}">
            </a>
        </div>
        <div id="navbar" class="collapse navbar-collapse">
            <ul class="nav navbar-nav">
                <li class="active">
                    <a class="${'active ' if reverse('dashboard') == request.path else ''}tab-nav-link" href="${reverse('dashboard')}"
                       aria-current="${'page' if reverse('dashboard') == request.path else 'false'}">
                        ${_("Courses")}
                    </a>
                </li>
                <li>
                    <a class="${'active ' if '/u/' in request.path  else ''}tab-nav-link" href="${reverse('learner_profile', args=[self.real_user.username])}"
                       aria-current="${'page' if '/u/' in request.path else 'false'}">
                        ${_("Profile")}
                    </a>
                </li>
                <li>
                    <a class="tab-nav-link" href="${marketing_link('COURSES')}"
                       aria-current="${'page' if '/courses' in request.path else 'false'}">
                        ${_('Discover New')}
                    </a>
                </li>
                <li class="dropdown">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Dropdown <span class="caret"></span></a>
                    <ul class="dropdown-menu">
                        <li><a href="#">Action</a></li>
                        <li><a href="#">Another action</a></li>
                        <li><a href="#">Something else here</a></li>
                        <li role="separator" class="divider"></li>
                        <li class="dropdown-header">Nav header</li>
                        <li><a href="#">Separated link</a></li>
                        <li><a href="#">One more separated link</a></li>
                    </ul>
                </li>
            </ul>
        </div>
    </div>
</nav>
