## mako

<%page expression_filter="h"/>
<%namespace name='static' file='static_content.html'/>

<%!
from django.urls import reverse
from django.utils.translation import ugettext as _
from six import text_type
%>


<nav class="navbar navbar-expand-md">

    <div class="container d-flex align-items-center">
        <a class="nav-link" href="#">
            <img id="fd-header-logo" src="${static.url('images/logo.png')}">
        </a>
        <a id="fd-login" class="btn btn-primary" href="/login">${_("Sign in")}</a>
        <!--a id="fd-register" class="btn btn-primary" href="/register">${_("Register")}</a-->
    </div>

</nav>