## mako

<%page expression_filter="h" args="online_help_token"/>

<%namespace name='static' file='../static_content.html'/>

<%!
from django.urls import reverse
from django.utils.translation import ugettext as _
from openedx.core.djangoapps.site_configuration import helpers as configuration_helpers
%>



<nav class="navbar navbar-expand-md navbar-dark fixed-top bg-dark">
    <!--a class="navbar-brand" href="#">Navbar</a-->
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarsExampleDefault" aria-controls="navbarsExampleDefault" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarsExampleDefault">
        <ul class="navbar-nav mr-auto">
            % if show_dashboard_tabs:
            <li class="nav-item">
                <a class="${'active ' if reverse('dashboard') == request.path else ''} nav-link" href="${reverse('dashboard')}">
                    ${_("Courses")}
                </a>
            </li>
            % endif
        </ul>
<!--
        % if show_dashboard_tabs:
        <div class="mobile-nav-item hidden-mobile nav-item nav-tab">
            <a class="${'active ' if reverse('dashboard') == request.path else ''}tab-nav-link" href="${reverse('dashboard')}">
                ${_("Courses")}
            </a>
        </div>
        % if show_program_listing:
        <div class="mobile-nav-item hidden-mobile nav-item nav-tab">
            <a class="${'active ' if reverse('program_listing_view') in request.path else ''}tab-nav-link" href="${reverse('program_listing_view')}">
                ${_("Programs")}
            </a>
        </div>
        % endif
        <div class="mobile-nav-item hidden-mobile nav-item nav-tab">
            <a class="${'active ' if '/u/' in request.path  else ''}tab-nav-link" href="${reverse('learner_profile', args=[self.real_user.username])}">
                ${_("Profile")}
            </a>
        </div>
        % endif
        % if show_explore_courses:
        <div class="mobile-nav-item hidden-mobile nav-item nav-tab">
            <a class="tab-nav-link" href="${marketing_link('COURSES')}">${_('Discover New')}</a>
        </div>
        % endif
        % if show_sysadmin_dashboard:
        <div class="mobile-nav-item hidden-mobile nav-item nav-tab">
            ## Translators: This is short for "System administration".
            <a class="tab-nav-link" href="${reverse('sysadmin')}">${_("Sysadmin")}</a>
        </div>
        % endif
-->
    </div>
</nav>