## mako

<%namespace name='static' file='/static_content.html'/>

<div class="container partnership">
    <p class="text-muted">Создано с применением технологий:</p>
    <div class="row">
        <div class="col-sm-3 partner-logo">
            <img src="${static.url('images/partnership/openedx_logo_light.png')}">
        </div>
        <div class="col-sm-3 partner-logo">
            <img src="${static.url('images/partnership/amazon_logo_light.png')}">
        </div>
        <div class="col-sm-3 partner-logo">
            <img src="${static.url('images/partnership/yandex_speechkit_light.png')}">
        </div>
        <div class="col-sm-3 partner-logo">
            <img src="${static.url('images/partnership/yandex_cloud_light.png')}">
        </div>
    </div>
</div>