## mako

<%namespace name='static' file='/static_content.html'/>

<div class="partnership">
    <h3 class="text-center text-muted">Создано с применением технологий:</h3>
    <div class="d-flex flex-wrap justify-content-around align-items-center">
        <div class="partner-logo">
            <img src="${static.url('images/partnership/openedx_logo_light.png')}">
        </div>
        <div class="partner-logo">
            <img src="${static.url('images/partnership/amazon_logo_light.png')}">
        </div>
        <div class="partner-logo">
            <img src="${static.url('images/partnership/yandex_speechkit_light.png')}">
        </div>
        <div class="partner-logo">
            <img src="${static.url('images/partnership/yandex_cloud_powered.png')}">
        </div>
    </div>
</div>
