## mako

<%page expression_filter="h"/>
<%namespace name='static' file='static_content.html'/>

<div id="teachers" class="container-fluid text-center my-3">
    <h2>Авторы курсов</h2>
    <div class="row mx-auto my-auto">

        <div class="carousel-item col-md-2">
            <%include file="teacher_card.html" args="teacher_name='David Malan 1', university_name='Harvard',
            avatar='images/teachers/david_malan.png'" />
        </div>
        <div class="carousel-item col-md-2">
            <%include file="teacher_card.html" args="teacher_name='David Malan 2',
            university_name='Harvard', avatar='images/teachers/david_malan.png'" />
        </div>
        <div class="carousel-item col-md-2">
            <%include file="teacher_card.html" args="teacher_name='David Malan 3', university_name='Harvard',
            avatar='images/teachers/david_malan.png'" />
        </div>
        <div class="carousel-item col-md-2">
            <%include file="teacher_card.html" args="teacher_name='David Malan 4', university_name='Harvard',
            avatar='images/teachers/david_malan.png'" />
        </div>
        <div class="carousel-item col-md-2">
            <%include file="teacher_card.html" args="teacher_name='David Malan 5', university_name='Harvard',
            avatar='images/teachers/david_malan.png'" />
        </div>

    </div>
</div>


